<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.communiquons.android.comunic.client">

    <!-- Internet access is required to access the API and download medias -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@drawable/ic_app_rounded"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main activity of the application -->
        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login activity -->
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/activity_login_header" />

        <!-- Search user activity -->
        <activity
            android:name=".ui.activities.SearchUserActivity"
            android:label="@string/activity_searchuser_title"/>

    </application>

</manifest>